# flyctl launch added from vendor/github.com/PuerkitoBio/goquery/.gitignore
# editor temporary files
vendor/github.com/PuerkitoBio/goquery/**/*.sublime-*
vendor/github.com/PuerkitoBio/goquery/**/.DS_Store
vendor/github.com/PuerkitoBio/goquery/**/*.swp
#*.*#
vendor/github.com/PuerkitoBio/goquery/**/tags

# direnv config
vendor/github.com/PuerkitoBio/goquery/**/.env*

# test binaries
vendor/github.com/PuerkitoBio/goquery/**/*.test

# coverage and profilte outputs
vendor/github.com/PuerkitoBio/goquery/**/*.out


# flyctl launch added from vendor/github.com/agext/levenshtein/.gitignore
vendor/github.com/agext/levenshtein/**/README.html
vendor/github.com/agext/levenshtein/**/coverage.out

# flyctl launch added from vendor/github.com/bmatcuk/doublestar/.gitignore
# vi
vendor/github.com/bmatcuk/doublestar/**/*~
vendor/github.com/bmatcuk/doublestar/**/*.swp
vendor/github.com/bmatcuk/doublestar/**/*.swo

# Compiled Object files, Static and Dynamic libs (Shared Objects)
vendor/github.com/bmatcuk/doublestar/**/*.o
vendor/github.com/bmatcuk/doublestar/**/*.a
vendor/github.com/bmatcuk/doublestar/**/*.so

# Folders
vendor/github.com/bmatcuk/doublestar/**/_obj
vendor/github.com/bmatcuk/doublestar/**/_test

# Architecture specific extensions/prefixes
vendor/github.com/bmatcuk/doublestar/**/*.[568vq]
vendor/github.com/bmatcuk/doublestar/**/[568vq].out

vendor/github.com/bmatcuk/doublestar/**/*.cgo1.go
vendor/github.com/bmatcuk/doublestar/**/*.cgo2.c
vendor/github.com/bmatcuk/doublestar/**/_cgo_defun.c
vendor/github.com/bmatcuk/doublestar/**/_cgo_gotypes.go
vendor/github.com/bmatcuk/doublestar/**/_cgo_export.*

vendor/github.com/bmatcuk/doublestar/**/_testmain.go

vendor/github.com/bmatcuk/doublestar/**/*.exe
vendor/github.com/bmatcuk/doublestar/**/*.test
vendor/github.com/bmatcuk/doublestar/**/*.prof

# test directory
vendor/github.com/bmatcuk/doublestar/**/test

# flyctl launch added from vendor/github.com/caarlos0/env/v10/.gitignore
vendor/github.com/caarlos0/env/v10/**/coverage.txt
vendor/github.com/caarlos0/env/v10/**/bin
vendor/github.com/caarlos0/env/v10/**/card.png
vendor/github.com/caarlos0/env/v10/**/dist

# flyctl launch added from vendor/github.com/go-chi/chi/v5/.gitignore
vendor/github.com/go-chi/chi/v5/**/.idea
vendor/github.com/go-chi/chi/v5/**/*.sw?
vendor/github.com/go-chi/chi/v5/**/.vscode

# flyctl launch added from vendor/github.com/jackc/pgx/v5/.gitignore
# Compiled Object files, Static and Dynamic libs (Shared Objects)
vendor/github.com/jackc/pgx/v5/**/*.o
vendor/github.com/jackc/pgx/v5/**/*.a
vendor/github.com/jackc/pgx/v5/**/*.so

# Folders
vendor/github.com/jackc/pgx/v5/**/_obj
vendor/github.com/jackc/pgx/v5/**/_test

# Architecture specific extensions/prefixes
vendor/github.com/jackc/pgx/v5/**/*.[568vq]
vendor/github.com/jackc/pgx/v5/**/[568vq].out

vendor/github.com/jackc/pgx/v5/**/*.cgo1.go
vendor/github.com/jackc/pgx/v5/**/*.cgo2.c
vendor/github.com/jackc/pgx/v5/**/_cgo_defun.c
vendor/github.com/jackc/pgx/v5/**/_cgo_gotypes.go
vendor/github.com/jackc/pgx/v5/**/_cgo_export.*

vendor/github.com/jackc/pgx/v5/**/_testmain.go

vendor/github.com/jackc/pgx/v5/**/*.exe

vendor/github.com/jackc/pgx/v5/**/.envrc
vendor/github.com/jackc/pgx/v5/.testdb

vendor/github.com/jackc/pgx/v5/**/.DS_Store

# flyctl launch added from vendor/github.com/lib/pq/.gitignore
vendor/github.com/lib/pq/**/.db
vendor/github.com/lib/pq/**/*.test
vendor/github.com/lib/pq/**/*~
vendor/github.com/lib/pq/**/*.swp
vendor/github.com/lib/pq/**/.idea
vendor/github.com/lib/pq/**/.vscode

# flyctl launch added from vendor/github.com/rs/zerolog/.gitignore
# Compiled Object files, Static and Dynamic libs (Shared Objects)
vendor/github.com/rs/zerolog/**/*.o
vendor/github.com/rs/zerolog/**/*.a
vendor/github.com/rs/zerolog/**/*.so

# Folders
vendor/github.com/rs/zerolog/**/_obj
vendor/github.com/rs/zerolog/**/_test
vendor/github.com/rs/zerolog/**/tmp

# Architecture specific extensions/prefixes
vendor/github.com/rs/zerolog/**/*.[568vq]
vendor/github.com/rs/zerolog/**/[568vq].out

vendor/github.com/rs/zerolog/**/*.cgo1.go
vendor/github.com/rs/zerolog/**/*.cgo2.c
vendor/github.com/rs/zerolog/**/_cgo_defun.c
vendor/github.com/rs/zerolog/**/_cgo_gotypes.go
vendor/github.com/rs/zerolog/**/_cgo_export.*

vendor/github.com/rs/zerolog/**/_testmain.go

vendor/github.com/rs/zerolog/**/*.exe
vendor/github.com/rs/zerolog/**/*.test
vendor/github.com/rs/zerolog/**/*.prof

# flyctl launch added from vendor/github.com/stretchr/objx/.gitignore
# Binaries for programs and plugins
vendor/github.com/stretchr/objx/**/*.exe
vendor/github.com/stretchr/objx/**/*.dll
vendor/github.com/stretchr/objx/**/*.so
vendor/github.com/stretchr/objx/**/*.dylib

# Test binary, build with `go test -c`
vendor/github.com/stretchr/objx/**/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
vendor/github.com/stretchr/objx/**/*.out

# flyctl launch added from vendor/golang.org/x/sys/unix/.gitignore
vendor/golang.org/x/sys/unix/**/_obj
vendor/golang.org/x/sys/unix/**/unix.test

# flyctl launch added from vendor/gopkg.in/natefinch/lumberjack.v2/.gitignore
# Compiled Object files, Static and Dynamic libs (Shared Objects)
vendor/gopkg.in/natefinch/lumberjack.v2/**/*.o
vendor/gopkg.in/natefinch/lumberjack.v2/**/*.a
vendor/gopkg.in/natefinch/lumberjack.v2/**/*.so

# Folders
vendor/gopkg.in/natefinch/lumberjack.v2/**/_obj
vendor/gopkg.in/natefinch/lumberjack.v2/**/_test

# Architecture specific extensions/prefixes
vendor/gopkg.in/natefinch/lumberjack.v2/**/*.[568vq]
vendor/gopkg.in/natefinch/lumberjack.v2/**/[568vq].out

vendor/gopkg.in/natefinch/lumberjack.v2/**/*.cgo1.go
vendor/gopkg.in/natefinch/lumberjack.v2/**/*.cgo2.c
vendor/gopkg.in/natefinch/lumberjack.v2/**/_cgo_defun.c
vendor/gopkg.in/natefinch/lumberjack.v2/**/_cgo_gotypes.go
vendor/gopkg.in/natefinch/lumberjack.v2/**/_cgo_export.*

vendor/gopkg.in/natefinch/lumberjack.v2/**/_testmain.go

vendor/gopkg.in/natefinch/lumberjack.v2/**/*.exe
vendor/gopkg.in/natefinch/lumberjack.v2/**/*.test
fly.toml
